// 提取公共方法
// 移动端1px解决方案
@mixin border-1px($color) {
  position: relative;
  &::after {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    border-top: 1px solid $color;
    content: ' '
  }
}